
.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 1px;      /* szélesség */
  height: 1px;     /* vízszintes görgetőnél */
}

/* Háttér */
::-webkit-scrollbar-track {
  background: #1e1e1e; 
  border-radius: 10px;
	
}

/* Csúszka (thumb) */
::-webkit-scrollbar-thumb {
  background: rgba(29,160,171,1.00); 
  border-radius: 10px;
}

/* Hover effect a csúszkán */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111; 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 3s ease;
}

.spinner{
	position: absolute;
	  width: 40px;
      height: 40px;
      border: 10px solid #444;
      border-top: 10px solid #00ffcc;
      border-radius: 50%;
      animation: spin 1s linear infinite;
	  left: 44vw;
}

.music-container{
	position: relative;
	top: -10vh;
	width: 30vw;
	height: 10vh;
	
}

#playPauseBtn {
position: absolute;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  top: 0vh;
}
.volume-container {
  
  display: inline-block;
  margin-left: 3vw;
  padding: 5px;
	
}

#volume-slider {
  position: absolute;
  left: 6vw; /* ikon mellett */
  top: 25%;
  width: 100px;
  height: 50px;
  transform: translateY(-50%);
  display: none; /* alapból elrejtve */
  background-color: transparent;
 
}

/* ha aktív, megjelenik */
.volume-container.active #volume-slider {
  display: block;
}

 @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader-text{
	color:rgba(32,151,171,1.00);
	font-size: 1.6rem;
}

#cursor-circle {
    position: absolute;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
background: #0095a6;
background: radial-gradient(circle, rgba(0, 149, 166, 0.47) 0%, rgba(13, 17, 37, 0.75) 56%, rgba(105, 107, 145, 0.76) 78%, rgba(177, 177, 196, 1) 87%, rgba(255, 255, 255, 0.8) 94%);
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
    box-shadow: 0 0 300px #854394;
    opacity: 0.8;
    pointer-events: none;
    will-change: transform; /* nagyon fontos a sima animációhoz */
    transition: none; /* eltávolítjuk a transition-t, mert a JS animáció simítja */
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

#cursor-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: spin 6s linear infinite !important;
  background-color: rgba(46,146,119,1.00);
	opacity: 0.5;
}



 @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  body {
    margin: 0;
    background: black;
    font-family: Arial, sans-serif;
    color: white;
	transition: all 3s ease;
    overflow: hidden;
  }

.background{
	background-image: url("background.jpg");
	background-size: cover;
	opacity: 0.150;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	position: absolute;
}

.copyright{
	position: relative;
	display:flex;
	justify-content: center;
	font-size: 15px;
	color: rgba(33,182,189,1.00);
	top: -20px;
}

  /* Bal menü */
  .sidebar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
	transition: all 0.3s ease;
	  cursor: pointer;
  }

  .planet-item {
    display: flex;
    align-items: center;
    gap: 8px;
    
    opacity: 0.5;
    transition: opacity 0.8s;
    
}


  .planet-item.active {
    opacity: 1;
	transform: scale(1.2);
	  border-left: 5px solid #47FFD4;
	  transition: transform 3s ease, opacity 3s ease;
	  border-radius: 50px;
	
	
  }

.planet-item.active span {
    color: #5A8B9B;
	text-shadow: 0 0 3px white;
	
	
}

  .planet-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    /* Félbolygó effekt */
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
  }

  /* Nagy bolygó */
  .planet-view {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

	  
    
  }

  .planet-img {
	top: -5vh;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    box-shadow: 0 0 80px rgba(0, 200, 255, 0.3);
    position: relative;
    z-index: 5;
	transition: transform 3s ease, opacity 3s ease;
  }

.planet-img.enter {
  opacity: 0;
  transform: scale(0.8) rotateY(-90deg);
}

  /* Háttérbolygó (következő sorban) */
  .planet-next {
    position: absolute;
    top: 10%;
    left: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    opacity: 0.54;
    z-index: 3;
  }

#planet-desc{
	bottom: 20px !important;
	text-align: center;
	margin: 0 auto;
}

  /* Hold */
  .moon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    transform: translate(-50%, -50%);
    animation: orbit 120s linear infinite;
    z-index: -1;
  }

  @keyframes orbit {
    from { transform: rotate(0deg) translateX(350px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(350px) rotate(-360deg); }
  }

  /* Szöveg */
  .planet-info {
    margin-top: 30px;
	  z-index: 1;
  }
  .planet-info h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: 'nova-slim';
  }
  .planet-info p {
    font-size: 0.9rem;
    color: #aaa;
    max-width: 500px;
    margin: 0 auto;
  }

.title{
	margin: 0 auto;
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	font-size: 2rem;
	padding: 20px;
	z-index: 99999;
	
}

#planet-name.outfit-font {
  font-family: "Outfit", sans-serif !important;
}

.readmore{
	color: rgba(0, 200, 255, 0.3);
	text-decoration: underline;
	margin-top: 20px;
	cursor: pointer;
	font-weight: 400;
	text-shadow: 0 0 2px aliceblue;
}

.readmore:hover{
	text-shadow: 0 0 2px brown;
	
}
/*-------------------------------------------------------->>>>>>>>>>MODAL<<<<<<<<<<<<<<<<*/
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  

}

.modal-content {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  text-align: center;
  color: white;
  box-shadow: 0 0 5px rgba(0,200,255,0.4);
  padding: 30px;
  overflow: auto;
  z-index: 1;
  background-image: url(background-modal.jpg);
  background-size: cover;
  background-repeat: repeat;
	
}


.close {
  color: #aaa;
  float: right;
  width: 30px;
	height: 30px;
	background-image: url("close.png");
	background-size: cover;
  cursor: pointer;
}
.close:hover {
  color: rgba(16,98,104,1.00);
}
#modal-extra {
  position: absolute;
  top: 10vh!important;
  text-align: left;
  line-height: 1.6;
}

#modal-canvas{
	width: 1200px;
	height: 800px;
	position: relative;
	margin: 0 auto;
		
}

#modal-title {
  font-family: "Outfit", sans-serif !important;
	font-weight: 100;
}

.btn_down{
	
	margin-top: 3vh;
	width: 50px;
	height: 50px;
	background-image: url("down.png");
	background-size: cover;
	background-color: transparent;
	border:none;
	cursor: pointer;
	animation: bounce 2s infinite;
}


#planet-info-container {
    max-height: 100vh;   /* látható magasság */
    overflow-y: auto;     /* görgetés */
    padding: 10px;
	background-color: rgba(0,0,0,0.92);
}

.planet-card {
	display: grid;
    background-color: transparent;
	box-shadow: 0 0 2px #18928C;
	grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    opacity: 1;
	margin: 0 auto;
}

.planet-card #card1, #card2, #card3, #card4{
	width: 14vw;
	height:15vh;
	box-shadow: 0 0 2px #18928C;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* alaphelyzet */
  }
  50% {
    transform: translateY(-20px); /* felugrás */
  }
}















@media (max-width: 1155px) {
  #sidebar {
    position: fixed;        /* mindig alul marad */
    top: 15vh !important;
    left: 0;
    right: 0;
    display: flex;          /* egymás mellé rakja */
    flex-direction: row;    /* vízszintes irány */
    flex-wrap: nowrap;      /* ne törjenek le */
    gap: 30px;
    overflow-x: auto;       /* vízszintesen görgethető */
    background: transparent;
	text-align: center;
	justify-content: center;
  }
	
	.planet-next{
		left: 0vh;
		top: 20vh;
	}
	
	#planet-desc{
		margin-top: 15vh !important;
		font-size: 1.2rem;
	}
	
	#planet-name{
		position: absolute;
		top: 0vh !important;
		left: 50%;
		transform: translateX(-50%);
		
	}
	
	.copyright{
		margin-top: -10px;
	}

  #sidebar .planet-item {
    flex: 0 0 auto;         /* ne nyúljon ki teljes szélességre */
    width: 80px;            /* fix vagy auto szélesség */
    text-align: center;
  }

	.planet-img{
		width: 500px;
		height: 500px;
		top: 11vh;
		
	}
	.moon
	{
		width: 60px;
		height:60px;
	}
    
}
@media (max-width: 850px) {
	.planet-img{
		width: 400px;
		height: 400px;
	}
		.moon
	{
		left: 20vw;
	}
}

@media (max-width: 650px) {
	.moon{
		left: 1vw;	
}
	}

